.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
}

input[type="text"] {
  width: 250px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 16px;
  padding: 3px 7px;
}

button {
  margin-left: 5px;
}

.hidden {
  display: none;
}

.toggle {
  cursor: pointer;
  border: none;
  color: grey;
}

.toggle.enabled {
  color: black;
}
